
@model InventoryManagementSystem.Models.ReStockViewModel

@{
    ViewData["Title"] = "Accepted Request";
}

<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Request From Admin</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Accepted Item
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <h6>Image</h6>
                                    </th>
                                    <th>
                                        <h6>Item</h6>
                                    </th>
                                    <th>
                                        <h6>Request Date</h6>
                                    </th>
                                    <th>
                                        <h6>Quantity</h6>
                                    </th>
                                    <th>
                                        <h6>Status</h6>
                                    </th>
                                    <th>
                                        <h6>Action</h6>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                    {
                                        if (item.Status == ReStockStatus.Received && item.ItemConsumable.SupplierId == Model.VendorId 
                                            || item.Status == ReStockStatus.WaitingAdminApproval && item.ItemConsumable.SupplierId == Model.VendorId)
                                        {
                                            <tr>
                                                <td style="width: 65px;">
                                                    <div class="lead">
                                                        <div class="lead-image">
                                                            <img src="~/uploads/@item.ItemConsumable.PicturePath" alt="" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ItemConsumable.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RequestStockDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                                @* @if (item.Status == ReStockStatus.WaitingAdminApproval)
                                                {
                                                    <td style="width: 200px">
                                                        <div class="action gap-3">
                                                            <a class="btn success-btn-outline rounded-md d-flex gap-1 align-items-center"
                                                                asp-action="AcceptRequest" asp-route-id="@item.ReStockID">
                                                                <i class="mdi mdi-check fs-8"></i></a>
                                                            <a class="btn danger-btn-outline rounded-md d-flex gap-1 align-items-center"
                                                                asp-action="RejectRequest" asp-route-id="@item.ReStockID">
                                                                <i class="mdi mdi-close fs-8"></i></a>
                                                        </div>
                                                    </td>
                                                } *@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>