@model InventoryManagementSystem.Models.ReStockItem

@{
    ViewData["Title"] = "Confirmation";
}

<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Request Consumable Item</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Confirm Order
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card-style mb-row 30">
        <form asp-action="Received">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ItemConsumable.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ItemConsumable.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RequestStockDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RequestStockDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <div class="form-group">
                <div class="col-12 mt-10 d-flex gap-2">
                    <input type="submit" value="Confirm" class="main-btn success-btn rounde-sm" />
                </div>
            </div>
            <div class="col-12 mt-10 d-flex gap-2">
                <a asp-action="Index" class="main-btn primary-btn rounde-sm btn-hover">Back to List</a>
            </div>
        </form>
    </div>
</div>
