@model InventoryManagementSystem.Models.BrokenItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>BrokenItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokenDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteItemBroken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteItemBroken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteItemFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteItemFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedItem.BorrowedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BrokenId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>